/* Write your CSS here */
.app-item {
  background-color: white;
  border-radius: 15px;
  height: 230px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.image-style {
  width: 150px;
  height: 150px;
}
